<p>Budget List!!!</p>
<table border="1" boder-collapse="collapse">
    <thead>
        <tr>
            <th>Expense</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let data of values">
            <td>{{data.name}}</td>
            <td>{{data.date | date: 'dd-MMM-YYYY'}}</td>
            <td>{{data.amount}}</td>
            <td>
                <span (click)="updateExpense(data)"><mat-icon aria-hidden="false" aria-label="edit icon"
                        fontIcon="edit"></mat-icon></span> &nbsp; &nbsp;

                <span (click)="deleteExpense(data)"> <mat-icon aria-hidden="false" aria-label="delete icon"
                        fontIcon="delete_forever"></mat-icon>
                </span>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>{{totExpense}}</td>
        </tr>
    </tfoot>
</table>